<div class="hero-large" style="--hero-height:{{hero.hauteur}}dvh;--hero-blur:{{hero.flouter ? '5px' : ''}};">
	<article>
		<div class="photos">
			{% for photo in hero.photos %}
				<figure>
					<img src="{{photo}}">
				</figure>
			{% endfor %}
		</div>
		<header>
			<h2 class="grand-titre">{{hero.titre}}</h2>
			<div>{{hero.texte}}</div>
		</header>
	</article>
</div>
