
    <div class="columns is-multiline accompagnement">
        <div class="column is-10 is-4-desktop is-offset-1">
            <div class="mb-6 is-flex">
                <span class="picto">
                    {{ svg('handshake') }}
                </span>
                <div class="ml-3">
                    <h4 class="is-size-4 has-text-weight-bold mb-2">
                        Première rencontre 
                                                                
                                            
                    </h4>
                    <p class="subtitle has-text-grey">
                        Notre conseiller se déplace chez vous afin de prendre connaissance de
                                                                                        vos besoins et de la faisabilité du projet et d'établir une fourchette budgétaire. 
                                                                
                                            
                    </p>
                </div>
            </div>
            <div class="mb-6 is-flex">
                <span class="picto">
                    {{ svg('devis') }}

                </span>
                <div class="ml-3">
                    <h4 class="is-size-4 has-text-weight-bold mb-2">
                        Devis ferme et définitif 
                                                                
                                            
                    </h4>
                    <p class="subtitle has-text-grey">
                        Nous vous présentons le devis précis, le plan de votre extension, les
                                                                                        vues 3D, le coût global du projet et éventuellement une proposition de financement. 
                                                                
                                            
                    </p>
                </div>
            </div>
            <div class="mb-6 is-flex">
                <span class="picto">
                    {{ svg('administratif') }}
                </span>
                <div class="ml-3">
                    <h4 class="is-size-4 has-text-weight-bold mb-2">
                        Suivi administratif 
                                                                
                                            
                    </h4>
                    <p class="subtitle has-text-grey">
                        Rénovaclaire gère toute la partie administrative: plans, permis,
                                                                                        suivi de permis de construire ou de la demande préalable, actions correctives demandées par la
                                                                                        mairie. 
                                                                
                                            
                    </p>
                </div>
            </div>
        </div>
        <div class="column is-10 is-4-desktop is-offset-1">
            <div class="mb-6 is-flex">
                <span class="picto">
                    {{ svg('visite') }}

                </span>
                <div class="ml-3">
                    <h4 class="is-size-4 has-text-weight-bold mb-2">
                        Visite technique 
                                                                
                                            
                    </h4>
                    <p class="subtitle has-text-grey">
                        Pour éviter toute mauvaise surprise et nous engager sur un projet à
                                                                                        prix ferme et définitif, notre technicien se déplace et établit un rapport technique pour prévenir
                                                                                        les aléas du chantier. 
                                                                
                                            
                    </p>
                </div>
            </div>

            <div class="mb-6 is-flex">
                <span class="picto">
                    {{ svg('contrat') }}

                </span>
                <div class="ml-3">
                    <h4 class="is-size-4 has-text-weight-bold mb-2">
                        Validation contractutelle 
                                                                
                                            
                    </h4>
                    <p class="subtitle has-text-grey">
                        Le contrat une vois validé et signé en parfait accord sur tous les points évoqués, le contrat est mis en place 
                                                                
                                            
                    </p>
                </div>
            </div>

            <div class="mb-6 is-flex">
                <span class="picto">

                    {{ svg('travaux') }}
                </span>
                <div class="ml-3">
                    <h4 class="is-size-4 has-text-weight-bold mb-2">
                        Début des travaux 
                                                                
                                            
                    </h4>
                    <p class="subtitle has-text-grey">
                        Dès l'autorisation administrative obtenue, un rdv est fixé avec votre
                                                                                        conducteur de travaux pour les derniers réglages avant le démarrage du chantier 
                                                                
                                            
                    </p>
                </div>
            </div>
        </div>

        <div class="column is-8 is-offset-2">

            <div class="mb-6 is-flex">
                <span class="picto">
                    {{ svg('house') }}
                </span>
                <div class="ml-3">
                    <h4 class="is-size-4 has-text-weight-bold mb-2">
                        Réception des travaux
                                                                                    
                                                                
                                            
                    </h4>
                    <p class="subtitle has-text-grey">
                        Bravo! Votre maison a évolué comme vous le souhaitiez : elle est désormais plus grande, plus claire
                                                                                        et
                                                                                        surtout, elle a pris de la valeur.
                                                                                    
                                                                
                                            
                    </p>
                </div>
            </div>
        </div>
    </div>
    