<div class="fairy">
    <article>
        <header>
            <span class="surtitre">{{home.avantages.surtitre}}</span>
            <h2 class="moyen-titre">{{home.avantages.titre}}</h2>
            <div class="chapo">{{home.avantages.intro}}</div>
            <div>{{home.avantages.texte}}
            </div>
            <nav><a href="{{home.avantages.cible_du_cta}}" class="bouton"><span>{{home.avantages.cta}}</span>
                    {{svg('fleche')}}
                </a></nav>
        </header>
        <div>
            {% for item in home.avantages.photos %}
            <figure>
                <img src="{{item.photo.sizes.large}}">
            </figure>
            {% endfor %}
        </div>
    </article>
</div>


{#
<div class="genie">
    <article>
        <figure>
            <img src="{{home.genie.photo.sizes.large}}">
        </figure>
        <header>
            <span class="surtitre">{{home.genie.surtitre}}</span>
            <h2 class="moyen-titre">{{home.genie.titre}}</h2>
            <div>
                {{home.genie.texte}}
            </div>
            <nav><a href="{{home.genie.cible_du_cta}}" class="bouton">{{home.genie.cta}}</a></nav>
        </header>
    </article>
</div>
#}