{% set colonnnes = colonnes is defined and colonnes ? colonnes : null %}

<div class="cards" data-colonnes="{{ colonnes ?: data.cards|length }}">
	<header>
		<span class="surtitre">{{ data.surtitre }}</span>
		<h3 class="moyen-titre">{{ data.titre }}</h3>
	</header>

	<div>


		{% for card in data.cards %}
			<article>
				{% if card.photo %}
					<figure>
						{% if card.photo.subtype == 'svg+xml' %}
							{{ svgTag(card.photo.url) }}
						{% else %}
							<img src="{{ card.photo.sizes.large }}" alt="">
						{% endif %}
					</figure>
				{% endif %}
				<h4>{{ card.titre ?? card.nom }}</h4>
				<div class="p">{{ card.texte ?? card.description }}</div>
			</article>
			{% if colonnnes and not loop.last and (loop.index % colonnnes == 0) %}
				</div><div>
			{% endif %}
		{% endfor %}


	</div>
</div>
