<div class="partenaires">
    <header>
        <h2 class="moyen-titre">Certifications et&nbsp;partenaires</h2>
        <p>
            Rénova Claire travaille directement avec les organismes
            dédiés à la Rénovation Energétique. Elle est également
            certifiée pour mener les travaux de rénovation et
            d’extensions.
        </p>
    </header>
    <ul>

        {% for partenaire in home.partenaires %}
        <li><a target="_blank" href="{{partenaire.url}}" title="{{partenaire.url}}"><img src="{{partenaire.logo.sizes.medium}}"
                    alt="{{partenaire.url}}"></a></li>
        {% endfor %}
        {% for certification in home.certifications %}
        <li><a target="_blank" href="{{certification.url}}" title="{{certification.url}}"><img src="{{certification.logo.sizes.medium}}"
                    alt="{{certification.url}}"></a></li>
        {% endfor %}
    </ul>
</div>