{% if titre is not defined %}
{% set titre = "Dernières actus" %}
{% endif %}
{% if description is not defined %}
{% set description = "Les derniers articles postés sur le blog de Rénova Claire" %}
{% endif %}
<div class="posts">
    {%if small is empty %}
    <header>
        <h3 class="moyen-titre">{{titre}}</h3>
        {% if description %}
        <p>{{description}}</p>
        {% endif %}
    </header>
    {% endif %}
    <div>
        {% for post in posts %}
        <article>
            {% if post.thumbnail %}
            <a href="{{ post.link }}">
                <figure>
                    <img src="{{ post.thumbnail.src('large') }}" alt="{{ post.title }}">
                </figure>
            </a>
            {% endif %}
            <header>
                <a href="{{ post.link }}">
                    <h4>{{post.title}}</h4>
                </a>
                <time
                datetime="{{ post.date|date('Y-m-d H:i:s') }}">{{ post.date }}</time>                
                <p>{{post.excerpt({words:20, read_more:'Lire la suite'})}}</p>
            </header>
        </article>
        {% endfor %}
    </div>
</div>