<div class="profile">
	<div>
		<figure>
			<img src="{{data.photo.sizes.medium}}">
			<div>
				<strong>{{data.nom}}</strong>
				<p>{{data.poste}}</p>
			</div>
		</figure>
		<div>
			<h3>{{data.titre}}</h3>
			<div class="p">{{data.texte}}</div>
		</div>
	</div>
</div>
