<header id="header">
   <a href="/" class="logo">
      <img src="{{ theme.uri }}/images/logo-small.png">
   </a>
   <div>
      <a class="bouton" href="{{menu.cible_du_cta}}">
         {{menu.cta}}
      </a>
   </div>

   <nav>
      {% for item in menu_principal.items %}
         <a class="{{item.classes|join(' ')}}" href="{{ item.link }}" {{ item.is_target_blank ? 'target="_blank"' }}>{{ item.title}}</a>
      {% endfor %}
   </nav>

</header>