{% extends "base.twig" %} {% block content %} <div class="box mt-5">
    <div class="columns">
        <div class="intro column is-8 is-offset-2"> {% if post.title %} <h2 class="title">
                {{ post.title }}
            </h2>
            <br> {% endif %} <p class="subtitle">
                {{ post.description }}
            </p>
        </div>
    </div>
</div>
<div class="columns">
    <div class="column is-4">
        <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="https://static.wixstatic.com/media/1bd741_483997f9d4814a74bc986eb5e2c0087e~mv2.webp"
                        alt="Placeholder image" class="modal-button" data-target="modal-image2">
                </figure>
            </div>
            <div class="card-content">
                <div class="content">
                    <h4> Extensions 100% sur mesure </h4> Agrandir votre séjour, créer un bureau, une salle de jeux, ou
                    encore une suite parentale avec salle de bain, Rénovaclaire conçoit une extension personnalisée afin
                    que votre maison vous convienne à 100%.
                </div>
            </div>
        </div>
    </div>
    <div class="column is-4">
        <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="https://images.unsplash.com/photo-1515555230216-82228b88ea98?auto=format&amp;fit=crop&amp;w=900&amp;q=60"
                        alt="Placeholder image" class="modal-button" data-target="modal-image2">
                </figure>
            </div>
            <div class="card-content">
                <div class="content">
                    <h4> Projet clés en mains </h4> Nous nous occupons de tout : étude de projet et faisabilité, plans,
                    permis et construction. Un commercial se déplace à votre domicile pour étudier votre projet :
                    obtenez des plans et un devis gratuitement
                </div>
            </div>
        </div>
    </div>
    <div class="column is-4">
        <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="https://static.wixstatic.com/media/1bd741_ba044c97f65d4c24bcddd6f2c30b191d~mv2.png/v1/fill/w_354,h_251,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/2.png"
                        alt="Placeholder image" class="modal-button" data-target="modal-image2">
                </figure>
            </div>
            <div class="card-content">
                <div class="content">
                    <h4> Sans surprises </h4> Rénovaclaire vous propose une extension de votre maison avec un prix ferme
                    et une date de livraison respectée pour un projet de rénovation en toute serénité.
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<div class="columns is-multiline accompagnement">
    <div class="column is-10 is-4-desktop is-offset-1">
        <div class="mb-6 is-flex">
            <span class="picto">
                {{ svg('handshake') }}
            </span>
            <div class="ml-3">
                <h4 class="is-size-4 has-text-weight-bold mb-2"> Première rencontre </h4>
                <p class="subtitle has-text-grey"> Notre conseiller se déplace chez vous afin de prendre connaissance de
                    vos besoins et de la faisabilité du projet et d'établir une fourchette budgétaire. </p>
            </div>
        </div>
        <div class="mb-6 is-flex">
            <span class="picto">
                {{svg('devis')}}

            </span>
            <div class="ml-3">
                <h4 class="is-size-4 has-text-weight-bold mb-2"> Devis ferme et définitif </h4>
                <p class="subtitle has-text-grey"> Nous vous présentons le devis précis, le plan de votre extension, les
                    vues 3D, le coût global du projet et éventuellement une proposition de financement. </p>
            </div>
        </div>
        <div class="mb-6 is-flex">
            <span class="picto">
                {{svg('administratif')}}
            </span>
            <div class="ml-3">
                <h4 class="is-size-4 has-text-weight-bold mb-2"> Suivi administratif </h4>
                <p class="subtitle has-text-grey"> Rénovaclaire gère toute la partie administrative: plans, permis,
                    suivi de permis de construire ou de la demande préalable, actions correctives demandées par la
                    mairie. </p>
            </div>
        </div>
    </div>
    <div class="column is-10 is-4-desktop is-offset-1">
        <div class="mb-6 is-flex">
            <span class="picto">
                {{ svg('visite') }}

            </span>
            <div class="ml-3">
                <h4 class="is-size-4 has-text-weight-bold mb-2"> Visite technique </h4>
                <p class="subtitle has-text-grey"> Pour éviter toute mauvaise surprise et nous engager sur un projet à
                    prix ferme et définitif, notre technicien se déplace et établit un rapport technique pour prévenir
                    les aléas du chantier. </p>
            </div>
        </div>

        <div class="mb-6 is-flex">
            <span class="picto">
                {{ svg('contrat') }}

            </span>
            <div class="ml-3">
                <h4 class="is-size-4 has-text-weight-bold mb-2"> Validation contractutelle </h4>
                <p class="subtitle has-text-grey"> Le contrat une vois validé et signé en parfait accord sur tous les points évoqués, le contrat est mis en place </p>
            </div>
        </div>

        <div class="mb-6 is-flex">
            <span class="picto">
         
                {{svg('travaux')}}
            </span>
            <div class="ml-3">
                <h4 class="is-size-4 has-text-weight-bold mb-2"> Début des travaux </h4>
                <p class="subtitle has-text-grey"> Dès l'autorisation administrative obtenue, un rdv est fixé avec votre
                    conducteur de travaux pour les derniers réglages avant le démarrage du chantier </p>
            </div>
        </div>
    </div>

    <div class="column is-8 is-offset-2">

        <div class="mb-6 is-flex">
            <span class="picto">
                {{ svg('house') }}
            </span>
            <div class="ml-3">
                <h4 class="is-size-4 has-text-weight-bold mb-2">
                    Réception des travaux
                </h4>
                <p class="subtitle has-text-grey">
                    Bravo! Votre maison a évolué comme vous le souhaitiez : elle est désormais plus grande, plus claire
                    et
                    surtout, elle a pris de la valeur.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}