{% extends "base.twig" %}
{% block content %}
<script>
  const estimation = {{ estimation | json_encode }}
</script>
<section class="section">
  {% if post.title %}
  <h2 class="grand-titre">
    {{ post.title }}
  </h2>
  {% endif %}
  <p class="chapo">
    {{ post.description }}
  </p>
  <div>
    {{ post.content }}
  </div>

  <form id="estimation">
    <fieldset data-etape="1" data-active="true">

      <input type="hidden" id="personnes" name="data[personnes]" required value="7">
      <div>
        <label for="personnes">Combien de personnes composent votre foyer ?</label>
        <div>
          <div class="boutons">
            {% for i in 1..8 %}
            <button class="bouton alt" data-personnes="{{i}}" type="button">{{i}}</button>
            {% endfor %}
            <!-- <button class="bouton alt" data-personnes="+" type="button">Plus que ça !</button> -->
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset data-etape="2">

      <input type="hidden" id="rfr" name="data[rfr]">
      <div>
        <dialog>
          <div class="content">
            <h3>Revenu fiscal de référence</h3>
            <p>Votre revenu fiscal de référence se trouve sur la première page de votre dernier avis d'impôt sur le
              revenu.</p>
            <figure>
              <img
                src="{{ theme.uri }}/images/comprendre-le-revenu-fiscal-de-reference-2022-determination-et-calcul.png">
            </figure>
          </div>

        </dialog>
        <label for="rfr">Votre revenu fiscal de référence <button type="button"
            data-action="aide">{{svg('question')}}</button></label>
        <div>
          <div class="boutons" id="boutons-rfr"></div>
          <!-- <select id="rfr" name="data[rfr]" data-required></select> -->
        </div>
      </div>

    </fieldset>

    <fieldset data-etape="3">
      <input type="hidden" id="classe" name="data[classe]">

      <div>
        <dialog>
          <div class="content">
            <h3>Classe énergétique</h3>
            <p>La classe énergétique d'une maison est fournie dans le cadre d'un diagnostic de performance énergétique
              (DPE) qui analyse deux aspects d'un logement : la consommation énergétique et les émissions de CO². Ce
              document est obligatoire en cas de vente ou de location d'un bien.</p>

            <p>Le DPE est réalisé par un diagnostiqueur agréé. </p>
            <p>On peut obtenir une estimation de la classe énergétique d'une maison à partir de son année de
              construction, et sous réserve que des travaux de rénovation n'aient pas déjà eu lieu.</p>
            <figure>
              <img src="{{ theme.uri }}/images/dpe.jpg" width="500">
            </figure>
          </div>

        </dialog>

        <label for="rfr">Classe énergétique de votre maison <button type="button"
            data-action="aide">{{svg('question')}}</button>
          </label>
            <div class="boutons">
              {% for classe in estimation.classes_energetiques %}
              <button class="bouton alt" type="button" data-classe="{{classe.lettre}}">{{classe.lettre}}</button>
              {% endfor %}
              <button class="bouton alt" type="button" data-classe="nsp">Je ne sais pas</button>
              </select>
            </div>
      </div>
    </fieldset>

    <fieldset data-etape="4">
      <input type="hidden" id="annee" name="data[annee]" value="">
      <div>
        <label for="personnes">Année de construction de votre maison</label>
        <div class="boutons" id="boutons-annees">
          {% for item in estimation.classes_par_annees %}
          {% if prec %}
          {% if item.annee %}
          <button class="bouton alt" type="button" data-annee="{{item.annee}}">Entre {{item.annee}} et {{prec-1}}
          </button>
          {% else %}
          <button class="bouton alt" type="button" data-annee="{{item.annee}}">Avant {{prec}}</button>
          {% endif %}
          {% else %}
          <button class="bouton alt" type="button" data-annee="{{item.annee}}">{{item.annee}} ou plus récent</button>
          {% endif %}
          {% set prec = item.annee %}
          {% endfor %}
        </div>
      </div>

    </fieldset>
    <fieldset data-etape="5">
      <div>
        <label for="categorie">La classe énergétique de votre maison est</label>
        <div>
          <strong data-parse="${Data.nomClasseEnergetique}"></strong>
          <div class="jauge">
            <div><span></span></div>
          </div>
          <small data-parse="${Data.messageClasseEnergetique}"></small>

        </div>
      </div>
      <div>
        <label for="categorie">Votre catégorie de ménage est la suivante</label>
        <div>
          <strong data-parse="${Data.nomCategorie}"></strong>
        </div>
      </div>

    </fieldset>

    <fieldset data-etape="6">
      <div class="reponse">
        <strong>Nous pouvons vous faire profiter d’une solution personnalisée, sans aide de l’Etat, mais qui
          pourra vous permettre de réaliser des économies</strong>
        <p><a href="/contact?objet=etude" class="bouton"><span>Demandez une étude
              personnalisée</span>{{svg('fleche')}}</a></p>
      </div>
    </fieldset>

    <fieldset data-etape="7">
      <div class="reponse">
        <div>Vous pouvez bénéficier d'une aide de l'etat de <strong data-parse="${Data.montantAides}"></strong> pour
          votre
          projet de rénovation.</div>
        <p><a href="/contact?objet=etude" class="bouton"><span>Demandez une étude
              personnalisée</span>{{svg('fleche')}}</a></p>
      </div>
    </fieldset>

    <fieldset>
      <div class="boutons">
        <!-- <button type="submit" class="bouton">
          <span class="commencer">Commencer</span>
          <span class="continuer">Continuer</span>
          <span class="voir">Voir le résultat</span>
        </button> -->
        <!-- <button type="button" data-action="recommencer" class="bouton alt">Recommencer</button> -->
      </div>
    </fieldset>
  </form>
</section>

{% endblock %}